.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.app-title-container{
  margin-bottom: 5vh;
}

.app-subtitle{
  margin-top: -15px;
}

.app-control-container{
  border: white solid 3px; 
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-control-container-surrounder{
  border: white solid 3px; 
  height: 410px;
  width: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.home-menu-element{
  border: white solid 2px;
  height: 198px;
  width: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(81,98,114, 0.3);

}


.home-menu-container{

  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.home-menu-element{
  border: white solid 2px;
  height: 198px;
  width: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(81,98,114, 0.3);

}

.back-button{
  border: white solid 2px;
  height: 50px;
  width: 70px;
  display: flex;
  align-self: center;
  justify-content: center; 
 
}

.audio-component-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.about-component-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}

.about-content-section{
  height: 230px;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 15px;
}

.contact-component-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.contact-box{
  background-color: orange;
  background-image: url(/src/assets/phone-call-nerd-nigerian.jpg);
  height: 285px;
  width: 300px;
  background-size: cover;
  margin-bottom: 10px;
}
.record-component-container{
  display: flex;
  align-items: center; 
  justify-content:center ; 
  flex-direction: column; 
}



.record-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
.record-buttons{
  width: 100px;
  height: 20px;
  font-size: 10px;


}

#video{
  height: 150px;
  width: 250px;
}
 #vid2{
  height: 150px;
  width: 250px;
 }
.copyright{
  font-size: 10px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(../src/assets/simon-wilkes-tree.jpg);

  background-size: cover; /* or contain depending on what you want */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}


/*this media query may be used as a primary rulesheet to make this app mobile-first more easily 
*/

@media screen and (max-width: 400px){

    
  .app-control-container{
    border: white solid 3px; 
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .app-control-container-surrounder{
    border: white solid 3px; 
    height: 310px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-menu-container{

      height: 300px;
      width: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    .home-menu-element{
      border: white solid 2px;
      height: 149px;
      width: 150px; 
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(81,98,114, 0.3);

    }

    .back-button{
      border: white solid 2px;
      height: 30px;
      width: 70px;
      align-self: center;
    }

    .audio-component-container{
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .audio-element{
      width: 280px;
      height: 30px;
    }

    .audio-element-label{
      font-size: 20px;
    }


    #video{
      height: 112px;
      width: 150px;
    }
     #vid2{
      height: 112px;
      width: 150px;
     }
}